<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1">
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>重置密码2</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/CSS/common.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/CSS/usrlogin.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/CSS/sp_securityCode.css">
	<script src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
</head>
<body>
	<div class="title hightlight"><img class="title_img_left" src="__PUBLIC__/img/backpic.png"><span>重置密码2</span></div>
	<div class="content">
		<div class="webinput"><input id="phoneNum" type="password" placeholder="设置登录密码"></div>
		<div class="webinput"><input id="password" type="password" placeholder="确认登录密码"></div>
		<div class="foot_button" id="confirm"><span class="hightlight">确定</span></div>
	</div>

	<script type="text/javascript">
		$("#confirm").click(function(){
			var pass1=$("input#phoneNum")[0].value,pass2=$("input#password")[0].value;
			if(pass1!==pass2){
				console.log('请确认两个登录密码是否一致');
				return;
			}
			if(pass1.length<6||pass1.length>18){
				console.log('密码长度不符合规范');
				return;
			}
			if(!window.sessionStorage.phoneNum){
				console.log('设置密码时间过期了');
				alert('设置密码时间过期了');
				location.href='securityCode.html';
			}
		});
		$("img.title_img_left").click(function(){
			window.sessionStorage.removeItem('phoneNum');
			location.href='resetpass.html';
		});
	</script>
</body>
</html>