<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1">
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>login</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/CSS/common.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/CSS/usrlogin.css">
	<script src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
	<script src="__PUBLIC__/js/md5.js"></script>
</head>
<body>
	<div class="title hightlight"><img class="title_img_left" src="__PUBLIC__/img/backpic.png"><span>登陆</span></div>
	<div class="content">
		<div class="webinput"><input id="phoneNum" type="text" placeholder="手机号"></div>
		<div class="webinput"><input id="password" type="password" placeholder="密码"></div>
		<p class="tips"><a href="#">忘记密码</a></p>
		<div class="foot_button"><span class="hightlight">登录</span></div>
	</div>

	<script type="text/javascript">
		//web check phonenumber whether it is recognized.
		function chkPhoneNum(){
			var usrphone=$("#phoneNum")[0].value;
			usrphone=parseInt(usrphone);
			if(usrphone.toString().length<11){
				console.log('unrecognized phone number.');
				return false;
			}
			else{
				return usrphone.toString();
			}
		} 

		$("#loginbtn").bind('click',function(){
			var usrphone=chkPhoneNum();
			if(!usrphone){
				return;
			}
			var usrpass=$("#password")[0].value;
			usrpass=hex_md5(usrpass);
			var purl="__URL__/login";
			
			$.ajax({
				type:"post",
				url: purl,
				dataType: "json",
				data:{phone: usrphone,pass: usrpass},
				success: function(data){
							console.log(data);
							if(data.state=='0'){
								console.log('success');
								alert('login success.');
								window.sessionStorage.setItem('phoneNum',usrphone);
							}
							else{
								console.log('phone or pass error');
								alert('phone or pass error');
							}
						},
				error: function(){
					console.log('network error');
					alert('network error');
				}
			});
		});//end of login.
	</script>
</body>
</html>