<!DOCTYPE html>

<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1">
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>诊中2</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/CSS/common.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/CSS/page2.css">
	<script src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
	<script src="__PUBLIC__/js/page2.js"></script>
</head>
<body>
	<div class="title hightlight">
		<img class="title_img_left" src="__PUBLIC__/img/backpic.png" alt="backpic">
		<span>诊断输入</span>
	</div>
	
	<div class="content">
		<h1>查询人的诊断名</h1>
		<input id="zdm" type="text" class="web_input" placeholder="请输入医生为查询人开出的诊断名">
		<p class="smallType">Tips: 若不知道诊断名，请前往人工咨询</p>
		<p>查询人的药物处方和检查项目：</p>
		<div class="new_add">
			<img src="__PUBLIC__/img/addpic.png" alt="添加" id="addPic">
			<span class="addProject">添加项目</span>
		</div>
		<div class="tableAdjust"></div>
	</div>
	<div class="hidedom new_input_board"> <!-- 弹出的输入框界面，输入药物和检查项目 -->
		<div class="new_board">
			<input type="text" class="web_input inputnew" placeholder="药物处方或者检查项目"><span id="cancelorconfirm">取消</span>
			<p class="smallType hidedom">请检查是否有生僻字，检查无误后按确认键输入</p>
			<div class="datalist" id="datalist02"></div>
		</div>
		<div class="msgalerted">添加成功</div>
	</div>
	<div class="foot_button"><span class="hightlight">确认并提交</span></div>
	<script>
		curURL='__URL__';//对应controller的路径
		curPUBLIC='__PUBLIC__';//Public文件夹路径
	</script>
</body>
</html>
