<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1">
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>智能分析</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/CSS/common.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/CSS/page3.css">
	<script src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="__PUBLIC__/js/page3.js"></script>
	<script type="text/javascript">
		public_url="__PUBLIC__";curr_url="__URL__";
	</script>
</head>
<body>
	<div class="title hightlight">
		<span>智能分析结果</span>
	</div>
	<div class="content">
		<div class="result_overview">
			<img src="__PUBLIC__/img/cryingface.png">
		</div>
		<p class="result_title">您有以下药物处方或者检查项目存在问题！</p>
		<div class="result_view">
			<div class="astable" id="resultable"></div>
		</div>
	</div>
	<div class="foot">
		<div class="foot_back">
			<img src="__PUBLIC__/img/backarrow.png"><span>返回</span>
		</div>
		<div class="middleline">
		</div>
		<div class="consult">			
			<img src="__PUBLIC__/img/questionmark.png"><span>咨询医师</span>
		</div>
	</div>
</body>
</html>