.content{
	padding-bottom: 0;
}
.usrpic{
	position: relative;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	line-height: 194px;
	height: 194px;
	padding: 0;
	background-color: white;
}
.usrpic>img{
	position: absolute;
	top: 40px;
	left: 50%;
	transform: translate(-50%,0);
	height: 116px;

}
.listItem{
	padding: 0 31px;
	font-size: 16px;
}
.listview{
	margin: 0;
}