body{
	background-color: #f3f3f3;
}

.advice_box{
	margin:20px;
	padding-bottom: 40px;
}
.advice_ { 
	position: relative;
	width: 100%;
	margin-bottom: 14px;
}
.advice_title{
	position: relative;
	height: 25px;
	margin-bottom: 1px;
	background-color: white;
	font-size:12px;
	color: #828282;
	white-space: nowrap;
    	text-overflow: ellipsis;
    	overflow: hidden;
}
.advice_content{
	position: relative;
	height: 98px;
	background-color: white;
}
.advice_pic1{
	width:90px;
	position:absolute;
	display:block;
	margin-top:4px;
}
.advice_doc1,.advice_doc2{
	position: absolute;
	left: 101px;
}
.advice_doc1{
	top: 7px;
	font-size:13px;
	color: #828282;
}
.advice_doc2{
	font-size:18px;
	top: 35px;
	font-weight:500;
	color: #4a4a4a;
}
.advice_title_doc1{
	display: inline-block;
	margin-left:15px;
}
.advice_title_name{
	display: inline-block;
	float: right;
	right: 0;
	max-width: 60%;
}
.advice_date1{
	position:absolute;
	bottom: 7px;
	right: 55px;
	font-size:12px;
	color: #828282;
}
.advice_pic2{
	position: absolute;
	top: 28px;
	right: 15px;
	height: 33px;
}