@charset "utf-8";

.center_box{position:relative;overflow:hidden;padding-top:0px;padding-left:0px;background-color:#cb9743}
.button_box{width:100%;height:34px;margin-bottom:5px}
.button_{width:90%;float:left;background-color:#cb9743;height:34px;position:absolute;left:5%; }
.button_ a{color:#fff !important}
