.content{
	height: 92%;
	background-color: #f3f3f3;
	overflow-y: auto;
}
.olist{
	margin-top: 21px;
	padding: 1px 0;
	background-color: white;
	font-size: 14px;
}
.orderline{
	margin-left: 2em;
}
.orderline,.orderline2{
	white-space:nowrap;
	text-overflow: ellipsis;
    	overflow:hidden;
}