.content{
	min-height: 92%;
	
	overflow-x: hidden;
}
.ordermain{
	display: table;
	width: 100%;
	overflow: hidden;
}

.omleft,.omright{
	float: left;
}
.omleft{
	display: table-cell;
	width: 70%;
	/*white-space:nowrap;*/
}
.omright{
	display: table-cell;
	margin-top: 70px;
	width: 30%;
	vertical-align: middle;
	font-size: 25px;
	color: #cb9741;
}

.orderline{
	text-indent: 1em;
}

/*watershed*/
.mybuttom{ 
	padding: 10px 1em;
	background-color: #f3f3f3;
	overflow-y: auto;
}
.orderline2{
	margin: 10px 0;
}
.orderd{
	/*white-space:nowrap;*/
	margin-bottom: 20px;
}
.doctor{
	width: 100%;
	height: 120px;
	border: 1px dashed red;
	background-color: white;
	font-size: 14px;
}
.doctor>img{
	display: inline-block;
	float: left;
	margin: 20px 0 10px 10px;
	width: 80px;
}
.doctor>div{
	display: inline-block;
	float: right;
	width: 66%;
}
.doctor p:first-child{
	margin: 20px 0;
	white-space:nowrap;
	text-overflow: ellipsis;
    overflow:hidden;
}
.doctor p:last-child{
	line-height: 1.8;
	height: 50.4px;
}
.orderline,.orderline2{
	white-space:nowrap;
	text-overflow: ellipsis;
    overflow:hidden;
}
.twoLine{
	text-overflow: ellipsis;
    overflow:hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}