body{
	background-color: #f3f3f3;
}
/*******************/
.content{
	background-color: #f3f3f3;
	top: -1px;
    	color: #828282;
    	padding-bottom: 55px;
}
.content>div:first-child{
	margin-top: 20px;
}
.square_select,.square{
	overflow: hidden;
}
.box{
	display: inline-block;
	padding: 0;
	line-height: 30px;
	float: left;
	height: 30px;
}
p{
	color: #4a4a4a;
}
.title_p{
	margin-left: 5.2%;
	margin-bottom: 8px;
	margin-top: 5px;
}

.tables{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	width: 50%; 
	overflow: hidden;
	padding-left: 5.2%;
    	padding-right: 7.5%;
}
.tables>select{
	width: 100%;
	font-size: 4.5vw;
}
.warning{
	border: 2px solid #f00;
}


.autoset{
	font-size: 4.1vw;
	height: 21px;
    width: 100px;
}
.box{
	margin-bottom: 10px;
}
#boxsp01{
	width: 12.3%;
}
#boxsp01,#boxsp05,#boxsp06{
	margin-left: 5.2%; 
}
#boxsp02{
	width: 22.8%;
	margin-left: 2.9%;
}
#boxsp03{
	width: 22.3%;
	margin-left: 3.1%;
}
#boxsp04{
	width: 18.7%;
	margin-left: 2.9%;
}
#boxsp05{
	width: 20%;
	/*vertical-align: top;*/
}
#myinput01{
	height: 23px;
}
#boxsp07{
	margin-left: 7.7%;
	margin-right: 8.7%;
}
#boxsp06,#boxsp07,#boxsp08{
	width: 24.3%;
}
#datalist01,#datalist02{
	width: 100%;
}
.datalist{
	position: relative;
	vertical-align: middle;
	border: 1px solid #979797;
	/*max-height: 19.5vh;*/
	z-index: 1;
}

.autoset{
	margin-left: 5%;
}
.tables>p{
	font-size: 17px;
	/*margin: 4.2vw 0 2.5vw 0;*/
	margin: 15px 0 9px 0;
}
input{
	text-align: center;
}
.small_input{
	width: 67px;
}

.foot{
	z-index: 2;
}
.foot_button{
	bottom: auto;
	width: 100%;
	margin: 0;
	margin-top: 22px;
	padding: 20px 0;
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
}
.foot_button>span{
	width: 200px;
	margin: 0 auto;
}
.firstp{
	margin-top: 0;
	font-size: 18px;
}