.title{
	/*position: absolute;
	top: 0;*/
	border-bottom: 1px solid #ccc;
}
.content{
	background-color: #f3f3f3;
}
.result_overview img,.onerow img{
	/*mix-blend-mode: multiply;*/
}/* 色彩叠加 */
.result_overview{
	margin: 30px 0 10px 0;
	padding: 2px;
}
.result_overview>img{
	display: block;
	margin: 0 auto;
	width: 24%;
}
.result_title{
	font-size: 14px;
	margin: 0;
}
.result_view{
	position: relative;
	width: 90%;
	height: 65%;
	margin: 0 auto;
}
/*resultable用於顯示藥物連線*/
.resultable{
	border: none;
	width: 100%;
	margin: 12px 0;
	font-size: 12px;
	display: table;
}
.resultable>div.onerow{
	display: table-row;
	height: 20px;
	border: none;
}
.mycol,.mycol2{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.mycol{
	width: 30%;
}
.mycol2{
	position: relative; 
	width: 40%;
	z-index: 100;
	background: url(../img/backline.png) no-repeat center;
}
/*.mycol2:after{
	content: '';
	display: block;
	width: 80px;
	height: 1px;
	position: absolute;
	top: 10px;
	background-color: black;
}*/
.onerow img{
	height: 30px;
	vertical-align: middle;
}
.onerow a{
	text-decoration: none;
}

/* 底部导航栏 */
.foot{	
	width: 100%;
}
.middleline{
	position: absolute;
	left: 50%;
	height: 100%;
	border-left: 1px solid #ccc;
}
.foot_back{
	width: 49%;
}
.consult{
	width: 49%;
}
.consult,.foot_back{
	position: relative;
	float: left;
	height: 100%;
}
.foot img{
	height: 45%;
	display: inline-block;
	margin-left: 25%;
	vertical-align: top;
}
.foot span{
	display: inline-block;
	margin-left: 45%;
}
.foot img,.foot span{
	position: absolute;
	top: 50%;
	-webkit-transform:translate(0,-50%);
	transform:translate(0,-50%);
}