.content{
	min-height: 100%;
	height: auto;
	width: 100%;
	background-color: #f3f3f3;
	padding-bottom: 86px;
}
.content>*{
	margin-left: 5%;
}

.web_input{ 
	width: 90%;
	height: 31px;
	text-align: inherit;
	text-indent: 1em;
	font-size: 14px;
	line-height: 1.5;
	padding-top: 4px;
	padding-bottom: 4px;
	border: 1px solid #858585;
	box-sizing: border-box;
}
.inputnew{
	width: 70%;
}
/*::-webkit-input-placeholder ,.tableAdjust span{ 
	color:#828282; 
}*/

.addProject{
	color: #9b9b9b;
}

h1{
	font-size: 16px;
	font-weight: normal;
}
p{
	color: #4a4a4a;
}
.smallType{
	font-size: 12px;
	margin-top: 10px;
	margin-bottom: 30px;
	color: #9b9b9b;
}

/* 数据呈现部分 */
.tableAdjust>div,.new_add,.datalist>div{
	position: relative;
	width: 94%;
	height: 47px;
	line-height: 47px;
	border-bottom: 1px solid #ccc; 
	padding: 2px 0 2px 0;
}
.new_add{
	width: 90%;
}
.datalist>div{
	width: 100%;
}
.tableAdjust img{
	margin-left: 0.5em;
	vertical-align: middle;
}

.tableAdjust img{
	display: inline-block;
}

/* 主要显示的部分*/

.deleteProject{
	position: absolute;
	right: 0;
	top: 0;
	height: 20px;
	margin-right: 20px;
	margin-top: 16px;
}

.addSpan{
	display: none;
}
.square,.square_select{
	overflow: hidden;
}

.tables{
	float: left;
	width: 40%;
	overflow: hidden;
}
.tables>select{
	width: 100%;
	font-size: 45px;
}
.warning{
	border: 2px solid #f00;
}

#addPic,.tableAdjust img:first-child{
	display: inline-block;
	height: 34px;
	margin: 0 23px 0 15px;
                vertical-align: middle;
}
.addProject,tableAdjust span{
	font-size: 18px;
}
.new_input_board{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*padding: 10px;*/
	z-index: 101;
	background-color: white;
	opacity: .85;
	overflow-y: scroll;
}
.new_board{
	background-color: white;
	position: relative;
	margin-left: 10px;
	margin-top: 10px;
}

#cancelorconfirm{
	margin-left: 20px;
}

div.msgalerted{
	position: fixed;
	top: 40%;
	left: 40%;
	width: 20%;
	padding: 4px;
	text-align: center;
	background-color: #ccc;
	display: none;
	z-index: 102;
}
.content>h1{
	margin-top: 25px;
}

#zdm{
	display: block;
}


.foot_button{
	position: absolute;
    	bottom: 0;
    	width: 100%;
    	margin: 0;
    	padding: 20px 0;
}
.foot_button>span{
	width: 200px;
    margin: 0 auto;
}
.switchon{
	overflow: hidden;
}
#medandinsp{
	color: #958282;
}
#confirm{
	margin-left: 15px;
	font-size: 15px;
	background-color: #ccc;
}