.title{
	position: absolute;
	z-index: 2;
}
.content{
	width: 100%;
	min-height: 100%;
	padding-top: 40px;
	padding-bottom: 0;
	background-color: #f3f3f3;
	box-sizing: border-box;
	-webkit-box-sizing:border-box;
}
.doctor{
	position: relative;
	width: 90%;
	height: 115px;
	border: none;
	margin: 20px auto;
	background-color: white;
	margin-bottom: 0;
}
.doctor>img{
	position: absolute;
	top: 10px;
	left: 10px;
	margin: 0;
}
.doctor>div{
	width: 100%;
	box-sizing: border-box;
	padding-left: 100px;
}
.doctor>div>p:first-child{
    	margin-top: 17px;
}

/*rankstar type*/
.rank{
	padding: 10px 20px;
	font-size: 14px;
}
.rank>p{
	margin-bottom: 22px;
}
.rankstars{
	margin: 10px 0;
}
.rankstars span{
	margin-right: 20px;
}
.rankstars img{
	height: 20px;
	vertical-align: middle;
	margin-right: 10px;
}

/*foot button*/
.foot_button{
	position: absolute;
	bottom: 0;
	width: 100%;
	padding-top: 47px;
	padding-bottom: 56px;
	margin: 0;
}
.foot_button>span{
	width: 90%;
    	line-height: 45px;
    	font-size: 20px;
    	margin-left: 5%;
}
@media screen and (max-height: 481px)  {
	.foot_button{
		padding-top: 32px;
		padding-bottom: 38px;
	}
}

.yesandno{
	color: rgb(130,130,130);
}