.title{
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.content{
	background-color: white; 
}


#getcode{
	position: absolute;
	right: 8%;
	top: 15%;
	padding: 5px .5em;
}
.webinput{
	position: relative;
	width: 100%;
}
.webinput>input{
	display: block;
	margin: 0 auto;
	padding: 10px 0 10px 35px;
	text-align: inherit;
	font-size: 18px;
	width: 78%;
}
.webinput>input:-webkit-input-placeholder{
	color: blue;
	margin-left: 40px;
}
/*input styles.*/
#phoneNum{
	background: url(../img/phonepic.png) no-repeat 10px;
}
#password{
	background: url(../img/passwordpic.png) no-repeat 10px;
}
p.tips{
	margin: 5px 22px;
    
	font-size: 12px;
    text-align: right;
}
.foot_button{
	margin-top: 42px;
	width: 100%;
    font-size: 4.5vw;
}
.foot_button>button{
	margin-left: 25%;
    width: 50%;
    line-height: 2;
}