.title{
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.content{
	background-color: white; 
}


#getcode{
	position: absolute;
	right: 8%;
	top: 10px;
	padding: 5px .5em;
	background-color: #eaeaea;
    color: #6f6f6f;
}
.webinput{
	position: relative;
	width: 100%;
}
.webinput>input{
	display: block;
	margin: 0 auto;
	padding: 0 0 0 35px;
	height: 50px;
	text-align: inherit;
	font-size: 18px;
	width: 78%;
}
.webinput>input:-webkit-input-placeholder{
	color: blue;
	margin-left: 40px;
}
/*input styles.*/
#phoneNum{
	background: url(../img/phonepic1.png) no-repeat 10px;
}
#password{
	background: url(../img/passwordpic1.png) no-repeat 10px;
}
p.tips{
	margin: 5px 22px;
	font-size: 12px;
    text-align: right;
}
.tips>a{
	color: #d0d0d0;
	text-decoration: none;
}
.foot_button{
	margin: 30px auto;
	margin-bottom: 0;
	height: 45px;
	width: 100%;
    font-size: 22px;
    line-height: 45px;
}

.foot_button>span{
	width: 90%;
    line-height: 45px;
    font-size: 20px;;
    margin-left: 5%
}

#confirm{
	margin-top: 50px;
}