.title{
	margin-bottom: 16px;
	border-bottom: 1px solid #ccc;
}

.content{
	background-color: white; 
}

#getcode{
	position: absolute;
	right: 8%;
	top: 10px;
	width: 90px;
	height: 31px;
	line-height: 31px;
	background-color: #eaeaea;
	color: #6f6f6f;
	font-size: 12px;
	text-align: center;
}
.webinput{
	position: relative;
	width: 100%;
}
.webinput>input{
	display: block;
	margin: 0 auto;
	padding: 0 0 0 35px;
	height: 50px;
	text-align: inherit;
	font-size: 18px;
	width: 78%;
}
.webinput>input:-webkit-input-placeholder{
	color: blue;
	margin-left: 40px;
}
/*input styles.*/
#phoneNum{
	background: url(../img/phonepic1.png) no-repeat 10px;
}
#password{
	background: url(../img/passwordpic1.png) no-repeat 10px;
}
p.tips{
	margin: 5px 22px;
	font-size: 12px;
	text-align: right;
}
.tips>a{
	color: #d0d0d0;
	text-decoration: none;
}
.foot_button{
	margin-top: 30px;
	bottom: auto;
}

#confirm{
	margin-top: 54px;
	top: auto;
}