<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1">
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>drugdetail</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/CSS/common.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/CSS/drugdetail.css">
	<script src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
</head>
<body>
	<div class="title hightlight">
		<img src="__PUBLIC__/img/backpic.png" alt="pic" class="title_img_left">
		<span id="approvedname">阿司匹林</span>
	</div>
	<div class="content">
		<div class="attributes"><h3>【药品编号】</h3><p>H201208280117</p></div>
		<div class="attributes"><h3>【药品名】</h3><p>阿司匹林</p></div>
		<div class="attributes"><h3>【商品名】</h3><p>阿司匹林盒装</p></div>
		<div class="attributes"><h3>【性质与分类】</h3><p>性质与分类详细内容性质与分类详细内容性质与分类详细内容性质与分类详细内容性质与分类详细内容性质与分类详细内容性质与分类详细内容性质与分类详细内容性质与分类详细内容性质与分类详细内容</p></div>
		<div class="attributes"><h3>【剂型】</h3><p>口服</p></div>
		<div class="attributes"><h3>【适应症】</h3><p>适应症,适应症,适应症,适应症,适应症.</p></div>
		<div class="attributes"><h3>【禁忌症】</h3><p>禁忌症,禁忌症,禁忌症,禁忌症,禁忌症.</p></div>
		<div class="attributes"><h3>【药品说明书】</h3><p>①解热、镇痛，每日按体表面积1.5g/平方米，分4～6次口服，或每次按体重5—10mg/kg，或每次每岁60mg，必要时4～6小时1次。②抗风湿，每日按体重80～100mg/kg，分3—4次服，如1—2周未获疗效，可根据血药浓度调整用量。有些病例需增至每日130mg/kg。③小儿用于皮肤粘膜淋巴结综合征（川崎病），开始每日按体重80—100mg/kg，分3—4次服，热退2—3天后改为每日30mg/kg，分 2—4次服，连服2月或更久，血小板增多、血液呈高凝状态期间，每日5—10mg/kg，1次顿服。④预防血栓、动脉粥样硬化及心肌梗塞：0.3/次，一日1次；预防暂时性脑缺血，每次0.6g，一日2次。⑤治疗胆道蛔虫：每次1g，一日2-3次，连服2-3日。⑥治疗X线照射或放疗引起的腹泻，每次服0.6-0.9g，一日4次。⑦治足癣，先用温开水或1：5000高锰酸钾溶液洗涤，然后该品粉末撒布患处，一般2-4次可愈。水杨酸类早晨给药达峰时间长，半衰期长，晚间相反。合理给药应早晨用量略增加。晚间加服一次。</p></div>
		<div class="attributes"><h3>【不良反应】</h3><p>胃肠道症状是阿司匹林最常见的不良反应，较常见的症状有恶心、呕吐、上腹部不适或疼痛等。</p></div>
	</div>
</body>
</html>