<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1">
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>首页</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/CSS/common.css">
	<link rel="stylesheet" href="__PUBLIC__/CSS/homepage.css" />
	<script src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
	<script src="__PUBLIC__/js/jquery.mobile-1.4.5.min.js"></script>
	<script src="__PUBLIC__/js/homepage.js"></script>
</head>
<body>
	<div class="title hightlight" ><span>首页</span></div>
	<!-- <div class="content"> -->
		<!--scroll-->
   <div class="scroll relative">
     <div class="scroll_box" id="scroll_img">
      <ul class="scroll_wrap">
        <li><a href="#"><img src="__PUBLIC__/img/home_01.png" ></a></li>
        <li><a href="#"><img src="__PUBLIC__/img/home_01.png" ></a></li>
        <li><a href="#"><img src="__PUBLIC__/img/home_01.png" ></a></li>
      </ul>
    </div>
<div class="botton_bar">
      <span class="news_id">年中大促</span> 
      <ul class="scroll_position" id='scroll_position'>
            <li class="on"><a href="javascript:void(0);">1</a></li>
            <li><a href="javascript:void(0);">2</a></li>
            <li><a href="javascript:void(0);">3</a></li>
      </ul>
</div>
    <!-- <span class="scroll_position_bg opacity6"></span> -->
    
    
  </div>
		<!--scroll-->
<div class="experience">医疗经验</div>
<div  class="exp_box">
      <div class="exps_pic">
            <img src="__PUBLIC__/img/advice.png" style="width:100px;">
      </div>
      <div class="exps_doc">
            <p class="exps_doc_p">1234 勇敢的少年快去创造奇迹勇敢的少年快去创造奇迹</p>
            <span class="exps_date1">2015.07.06</span>
      </div>
</div>
<div  class="exp_box">
      <div class="exps_pic">
            <img src="__PUBLIC__/img/advice.png" style="width:100px;">
      </div>
      <div class="exps_doc">
            <p class="exps_doc_p">1234 勇敢的少年快去创造奇迹勇敢的少年快去创造奇迹</p>
            <span class="exps_date1">2015.07.06</span>
      </div>
</div>
<div  class="exp_box bottom">
      <div class="exps_pic">
            <img src="__PUBLIC__/img/advice.png" style="width:100px;">
      </div>
      <div class="exps_doc">
            <p class="exps_doc_p">1234 勇敢的少年快去创造奇迹勇敢的少年快去创造奇迹</p>
            <span class="exps_date1">2015.07.06</span>
      </div>
</div>
		
	<!-- </div> -->
	<div class="foot">
		<div class="footItem current">
			<img src="__PUBLIC__/img/home_yellow.png"><br><span>首页</span>
		</div>
		<div class="footItem" data="foot_msg">
			<img src="__PUBLIC__/img/zz_grey.png"><br><span>诊中查询</span>
		</div>
		<div class="footItem">
			<img src="__PUBLIC__/img/rgzx_grey.png"><br><span>人工咨询</span>
		</div>
		<div class="footItem">
			<img src="__PUBLIC__/img/personalcenter_grey.png"><br><span>个人中心</span>
		</div>
	</div>
	<script src='__PUBLIC__/js/hhSwipe.js'></script>
	<script type="text/javascript">
		$(".footItem:eq(0)").click(function(){location.href="__ROOT__"+"/index.php/Home/Index/main.html"});
		$(".footItem:eq(1)").click(function(){location.href="__ROOT__"+"/index.php/Home/Analyze/page1.html"});
		$(".footItem:eq(2)").click(function(){location.href="__ROOT__"+"/index.php/Home/Index/artificial.html"});
		$(".footItem:eq(3)").click(function(){location.href="__ROOT__"+"/index.php/Home/Index/personalcenter.html"});
	</script>
</body>
</html>