<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1">
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>首页</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/CSS/common.css">
	<link rel="stylesheet" href="__PUBLIC__/CSS/homepage.css" />
	<script src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
	<script src="__PUBLIC__/js/jquery.mobile-1.4.5.min.js"></script>
	<script src="__PUBLIC__/js/homepage.js"></script>
</head>
<body>
	<div class="title hightlight" ><span>首页</span></div>
	<!-- <div class="content"> -->
		<!--scroll-->
 <div class="scroll relative">
	    <div class="scroll_box" id="scroll_img">
            <ul class="scroll_wrap">
              <li><a href="#"><img src="__PUBLIC__/img/1.jpg" width="100%" /></a></li>
              <li><a href="#"><img src="__PUBLIC__/img/2.jpg" width="100%" /></a></li>
              <li><a href="#"><img src="__PUBLIC__/img/3.jpg" width="100%" /></a></li>
            </ul>
            </div>
          <span class="scroll_position_bg opacity6"></span>
          <ul class="scroll_position" id='scroll_position'>
              <li class="on"><a href="javascript:void(0);">1</a></li>
              <li><a href="javascript:void(0);">2</a></li>
              <li><a href="javascript:void(0);">3</a></li>
          </ul>
          <span class="news_id">年中大促</span>
	  </div>
		<!--scroll-->
		    <div data-role="content" class="exp_box">
        <ul class="exps_">
        	<li> 
            	<div class="exps_pic">
                	<img src="__PUBLIC__/img/1.jpg" style="height:100%;width:100%">
                </div>
                <div class="exps_doc">
                	<span class="exps_doc1">1234 <br></span>
                    <span class="exps_date1">2015.07.06</span>
                </div>
            </li>
            <li>
            	<div class="exps_pic">
                	<img src="__PUBLIC__/img/1.jpg" style="height:100%;width:100%">
                </div>
                <div class="exps_doc">
                	<span class="exps_doc1">1234 <br></span>
                    <span class="exps_date1">2015.07.06</span>
                </div>            
            </li>
            <li>
            	<div class="exps_pic">
                	<img src="__PUBLIC__/img/1.jpg" style="height:100%;width:100%">
                </div>
                <div class="exps_doc">
                	<span class="exps_doc1">1234 <br></span>
                    <span class="exps_date1">2015.07.06</span>
                </div>            
            </li>
        </ul>
    </div>
		
	<!-- </div> -->
	<div class="foot">
		<div class="footItem current">
			<img src="__PUBLIC__/img/home_yellow.png"><br><span>首页</span>
		</div>
		<div class="footItem" data="foot_msg">
			<img src="__PUBLIC__/img/zz_grey.png"><br><span>诊中查询</span>
		</div>
		<div class="footItem">
			<img src="__PUBLIC__/img/rgzx_grey.png"><br><span>人工咨询</span>
		</div>
		<div class="footItem">
			<img src="__PUBLIC__/img/personalcenter_grey.png"><br><span>个人中心</span>
		</div>
	</div>
	<script src='__PUBLIC__/js/hhSwipe.js'></script>
	<script type="text/javascript">
		$(".footItem:eq(0)").click(function(){location.href="__ROOT__"+"/index.php/Home/Index/main.html"});
		$(".footItem:eq(1)").click(function(){location.href="__ROOT__"+"/index.php/Home/Analyze/page1.html"});
		$(".footItem:eq(2)").click(function(){location.href="__ROOT__"+"/index.php/Home/Index/artificial.html"});
		$(".footItem:eq(3)").click(function(){location.href="__ROOT__"+"/index.php/Home/Index/personalcenter.html"});
	</script>
</body>
</html>