<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1">
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>个人中心</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/CSS/common.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/CSS/personalcenter.css">
	<script src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
	<script type="text/javascript">
		var rooturl="__ROOT__";
	</script>
	<script src="__PUBLIC__/js/personalcenter.js"></script>
</head>
<body>
	<div class="title hightlight" data="mail_msg">
		<span>个人中心</span>
		<img class="title_img_right" src="__PUBLIC__/img/mailpic.png">
	</div>
	<div class="content">
		<div class="usrpic hightlight">
			<img src="__PUBLIC__/img/user.png"><br><span id="usrphone">18368879449</span>
		</div>
		<div class="listview">
			<div class="listItem">
				<img class="listicon" src="__PUBLIC__/img/history.png">
				<span>历史订单<img class="nextPage" src="__PUBLIC__/img/nextpage.png"></span>
			</div>
			<div class="listItem">
				<img class="listicon" src="__PUBLIC__/img/aboutus.png">
				<span>关于我们<img class="nextPage" src="__PUBLIC__/img/nextpage.png"></span>
			</div>
			<div class="listItem">
				<img class="listicon" src="__PUBLIC__/img/contact.png">
				<span>联系我们<img class="nextPage" src="__PUBLIC__/img/nextpage.png"></span>
			</div>
		</div>
		<div class="foot_button"><span class="hightlight">安全退出</span></div>
	</div>
	<div class="foot">
		<div class="footItem">
			<img src="__PUBLIC__/img/home_grey.png"><br><span>首页</span>
		</div>
		<div class="footItem" data="foot_msg">
			<img src="__PUBLIC__/img/zz_grey.png"><br><span>诊中查询</span>
		</div>
		<div class="footItem">
			<img src="__PUBLIC__/img/rgzx_grey.png"><br><span>人工咨询</span>
		</div>
		<div class="footItem current">
			<img src="__PUBLIC__/img/personalcenter_yellow.png"><br><span>个人中心</span>
		</div>
	</div>
	<script type="text/javascript">
		$(".footItem:eq(0)").click(function(){location.href="__ROOT__"+"/index.php/Home/Index/main.html"});
		$(".footItem:eq(1)").click(function(){location.href="__ROOT__"+"/index.php/Home/Analyze/page1.html"});
		$(".footItem:eq(2)").click(function(){location.href="__ROOT__"+"/index.php/Home/Index/artificial.html"});
		$(".footItem:eq(3)").click(function(){location.href="__ROOT__"+"/index.php/Home/Index/personalcenter.html"});
	</script>
</body>
</html>