<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1">
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>私信</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/CSS/common.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/CSS/privatemail.css">
	<script src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
</head>
<body>
	<div class="title hightlight" >
		<img class="title_img_left" src="__PUBLIC__/img/backpic.png">
		<span>私信</span>
	</div>
	<div class="content">
		<div class="letter" mailID="0001" state="unread">
			<p class="letter_title">感谢您注册诊中医疗Appbbbbvvvvvvv<span>2015.07.08</span></p>
			<p class="letter_brief">亲爱的用户，十分感谢您注册诊中医疗App,亲爱的用户，十分感谢您注册诊中医疗App</p>
		</div>
		<div class="letter" mailID="0002" state="unread">
			<p class="letter_title">感谢您注册诊中医疗App<span>2015.07.08</span></p>
			<p class="letter_brief">亲爱的用户，十分感谢您注册诊中医疗App,亲爱的用户，十分感谢您注册诊中医疗App</p>
		</div>
		<div class="letter" mailID="0003" state="unread">
			<p class="letter_title">感谢您注册诊中医疗App<span>2015.07.08</span></p>
			<p class="letter_brief">亲爱的用户，十分感谢您注册诊中医疗App,亲爱的用户，十分感谢您注册诊中医疗App</p>
		</div>
		<div class="letter" mailID="0004" state="read">
			<p class="letter_title">感谢您注册诊中医疗App<span>2015.07.08</span></p>
			<p class="letter_brief">亲爱的用户，十分感谢您注册诊中医疗App,亲爱的用户，十分感谢您注册诊中医疗App</p>
		</div>
		<div class="letter" mailID="0005" state="unread">
			<p class="letter_title">感谢您注册诊中医疗App<span>2015.07.08</span></p>
			<p class="letter_brief">亲爱的用户，十分感谢您注册诊中医疗App,亲爱的用户，十分感谢您注册诊中医疗App</p>
		</div>
		<div class="letter" mailID="0006" state="unread">
			<p class="letter_title">感谢您注册诊中医疗App<span>2015.07.08</span></p>
			<p class="letter_brief">亲爱的用户，十分感谢您注册诊中医疗App,亲爱的用户，十分感谢您注册诊中医疗App</p>
		</div>
		<div class="letter" mailID="0007" state="unread">
			<p class="letter_title">感谢您注册诊中医疗App<span>2015.07.08</span></p>
			<p class="letter_brief">亲爱的用户，十分感谢您注册诊中医疗App,亲爱的用户，十分感谢您注册诊中医疗App</p>
		</div>
		<div class="letter" mailID="0008" state="unread">
			<p class="letter_title">感谢您注册诊中医疗App<span>2015.07.08</span></p>
			<p class="letter_brief">亲爱的用户，十分感谢您注册诊中医疗App,亲爱的用户，十分感谢您注册诊中医疗App</p>
		</div>
		<div class="letter" mailID="0009" state="unread">
			<p class="letter_title">感谢您注册诊中医疗App<span>2015.07.08</span></p>
			<p class="letter_brief">亲爱的用户，十分感谢您注册诊中医疗App,亲爱的用户，十分感谢您注册诊中医疗App</p>
		</div>
		<div class="letter" mailID="0010" state="unread">
			<p class="letter_title">感谢您注册诊中医疗App<span>2015.07.08</span></p>
			<p class="letter_brief">亲爱的用户，十分感谢您注册诊中医疗App,亲爱的用户，十分感谢您注册诊中医疗App</p>
		</div>
	</div>
	<script type="text/javascript">
		$(".title_img_left").click(function(){location.href="personalcenter.html"});
	</script>
</body>
</html>