<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1">
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>sales</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/CSS/common.css">
	<script src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
</head>
<body>
	<div class="title hightlight">
		<img src="__PUBLIC__/img/backpic.png" alt="pic" class="title_img_left">
		<span>年终大促</span>
		<img src="__PUBLIC__/img/share.png" alt="share" class="title_img_right">
	</div>
</body>
</html>