<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no">
	<meta name="viewport" content="initial-scale=1,maximum-scale=1">
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>OrderList</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/CSS/common.css">
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/CSS/orderlist.css">
	<script src="__PUBLIC__/js/jquery-2.1.4.min.js"></script>
</head>
<body>
	<div class="title hightlight">
		<img src="__PUBLIC__/img/backpic.png" alt="pic" class="title_img_left"><span>历史订单</span></div>
	<div class="content">
		<div class="olist">
			<p class="orderline">订单编号：<span id="oid">89757</span></p>
			<p class="orderline">订单生成时间：<span id="otime">2015.07.08</span></p>
			<p class="orderline">费用：<span id="fee">RMB 3.50000000000000000000000000000000000000000000000000000000000000000</span></p>
			<p class="orderline">支付方式：<span id="pay">支付宝xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</span></p>
		</div>
		<div class="olist">
			<p class="orderline">订单编号：<span id="oid">89757</span></p>
			<p class="orderline">订单生成时间：<span id="otime">2015.07.08</span></p>
			<p class="orderline">费用：<span id="fee">RMB 3.5</span></p>
			<p class="orderline">支付方式：<span id="pay">支付宝</span></p>
		</div>
		<div class="olist">
			<p class="orderline">订单编号：<span id="oid">89757</span></p>
			<p class="orderline">订单生成时间：<span id="otime">2015.07.08</span></p>
			<p class="orderline">费用：<span id="fee">RMB 3.5</span></p>
			<p class="orderline">支付方式：<span id="pay">支付宝</span></p>
		</div>
	</div>

	<script type="text/javascript">
		$(".title_img_left").click(function(){location.href="__ROOT__/index.php/Home/Index/personalcenter.html"});
		$(".olist:eq(0)").click(function(){location.href="orderdetail.html"});
		$(".olist:eq(1)").click(function(){location.href="orderdetail02.html"});
	</script>
</body>
</html>